tr.MuiTableRow-root:nth-of-type(even) {
	background-color: var(--doc-light-grey);
}
.note-parent-container {
	width: 100%;
	.note-container {
		background-color: var(--doc-white);
		color: var(--doc-dark-grey);
		padding: 5px;
		margin-top: 10px;
		margin-bottom: 10px;
		&:nth-of-type(even) {
			background-color: var(--doc-light-grey);
		}
		.note-date {
			width: 100%;
			text-align: right;
		}
	}
}

.circle {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	margin: auto;
}
.status-onHold {
	background-color: var(--doc-yellow);
}
.status-patientAttended, .status-practitionerAttended, .status-waiting {
	background-color: var(--doc-pink);
}
.red-text, .text-status-waiting {
	color: var(--doc-pink) !important;
}
.status-inProgress {
	background-color: var(--doc-green);
}
.text-status-online {
	color: var(--doc-green) !important;
}
.red-bold-text {
	font-weight: 700 !important;
	color: var(--doc-pink) !important;
}
