$header-height: 40px;
$toolbar-height: 30px;
$formula-height: 40px;
$border-width: 1px;
$info-cell-width: 40px;
$row-height: 40px;
$border-color: #c0c0c0;
$cell-width: 120px;

$db-header-height: 64px;

$primary-color: #3c74ff;
